@import url("https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --color-primary: #fffeef;
  --color-secondary: #40110d;
  --color-tertiary: #f0e7da;
  --color-beige: #b0a999;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: var(--color-primary);
  font-family: "Inter", sans-serif;
}

nav {
  top: 0;
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.15rem 1.75rem;
  background-color: var(--color-secondary);
  text-decoration: none;
}

.logo {
  text-decoration: none;
  font-family: "Besley";
  font-weight: bold;
  color: var(--color-primary);
}

nav div {
  display: flex;
  gap: 2.25rem;
}

.navlink {
  text-decoration: none;
  color: var(--color-primary);
}

.hero-section {
  height: 100vh;
  background-image: url("assets/hero-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: darken;

  display: flex;
  flex-direction: column;
  justify-content: center;

  align-items: center;
  color: var(--color-primary);
}

h1 {
  margin: 0;
  font-family: "Besley", sans-serif;
  font-size: 3.5em;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
}

h2 {
  font-size: 2.25rem;
  text-align: center;
  margin-bottom: 4rem;
}

.hero-section p {
  width: 36em;
  text-align: center;
}

.button {
  margin-top: 1.25rem;
  padding: 0.85rem 1.25rem;
  font-size: 1.15rem;
  transition:
    background-color 0.5s ease-in,
    color 0.5s ease;
}

.button-primary {
  border: 3px solid var(--color-primary);
  color: var(--color-primary);
  background: none;
}

.button-primary:hover {
  background-color: var(--color-primary);
  color: var(--color-secondary);
}

.button-secondary {
  border: 3px solid var(--color-secondary);
  color: var(--color-secondary);
  background: none;
}

.button-secondary:hover {
  background-color: var(--color-secondary);
  color: var(--color-primary);
}

hr {
  border: none;
  width: 25em;
  height: 1px;
  background-color: var(--color-primary);
  margin-bottom: 1.15rem;
}

.products-section {
  padding: 4rem 1.75rem;
}

.books-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
}

.book-card {
  min-width: 16rem;
  padding: 0.75rem 0.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  background-color: var(--color-tertiary);
  text-decoration: none;
  text-align: center;
  color: black;
  transition: background-color 0.5s ease;
}

.book-card:hover {
  background-color: var(--color-beige);
}

.book-image {
  width: 10em;
  padding: 1.25rem;
}

.book-title {
  font-size: 1.15rem;
  font-weight: bold;
  margin: 0;
}

.book-author {
  font-size: 0.75rem;
  font-weight: 300;
}

.book-price {
  margin-top: 2.5rem;
  font-size: 1.15rem;
  font-weight: bold;
}

.page-header {
  width: 100vw;
  height: 24vh;
  background-image: url("assets/page-header.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: darken;

  display: flex;
  flex-direction: column;
  justify-content: center;

  align-items: center;
  color: var(--color-primary);
}

.about {
  padding: 2.5rem 5rem;
  text-align: center;
  line-height: 1.75rem;
}

.about p {
  margin-bottom: 2.25rem;
}

.product-detail-container {
  display: flex;
  justify-content: center;
  gap: 5rem;
  padding: 1.75rem 12rem;
}

.product-detail-container img {
  width: 24rem;
}

.book-details h2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.75rem;
}

.book-details span {
  font-weight: normal;
  font-size: 0.95rem;
}

.book-details p:first-of-type {
  margin: 0;
  font-size: 0.75rem;
  color: hsl(0, 0%, 40%);
}

.book-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.85rem;
  text-align: justify;
}

.book-description span {
  font-size: 1.5rem;
  font-weight: bold;
}

.book-details p:last-child {
  font-weight: bold;
  font-size: 2rem;
}

.book-not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5rem 4rem;
  align-items: center;
  text-align: center;
}

.book-not-found-container p {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  margin-bottom: 6rem;
}

.book-not-found-container span {
  font-size: 5rem;
  font-weight: bold;
  color: var(--color-secondary);
}
